*~
*.bak
*.org
*.7z
*.rar
*.zip
*.log
*.sql
*.sqlite
.htaccess
.htpasswd
.Trashes
.DS_Store
.buildpath
.project
.settings
.idea
.env
.sass-cache
validation-status.json
*.tmproj
Thumbs.db
Desktop.ini
node_modules
bower_components
temp
tmp
scss-analyze-report.html
scss-analyze-report.json
incorrect_classnames.txt
incorrect_spelling.txt
unused_html_classes.txt
unused_css.txt
