extends ./_layouts/default
block vars
  -path = "."
  -pageID = "top"
  -pageTitle = ""
  -pageDescription = ""
  -pageKeywords = ""
  -imgPC = path+"/img/common/"
  -imgSP = path+"/img/common/sp/"
  -imgCommonPC = path+"/img/common/"
  -imgCommonSP = path+"/img/common/sp/"
block container