@charset "utf-8";
@use "_base/base"as *;

.section-login {
  min-height: 100vh;

  .login-wrapper {
    background-color: $color-light;
    margin: 0 auto;
    padding: 0.48rem 0 0.16rem;
  }

  label {
    margin-bottom: 0.04rem;
    font-size: 0.14rem;
    line-height: calc(20 / 14);
    display: block;
  }

  input {
    border: 0.01rem solid $color-border;
    width: 100%;
    background: transparent;
    padding: 0.12rem;

    &:focus {
      border-color: $color-background-primary;
      outline: 0;
    }
  }

  .form-wrapper+.form-wrapper {
    margin-top: 0.16rem;
  }

  .form-controller {
    margin-top: 0.48rem;
  }

  .links-wrapper {
    height: 0.44rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.16rem 0;

    a {
      color: $color-background-primary;
      font-weight: 600;
      font-size: 0.16rem;
      line-height: calc(24 / 16);
    }
  }

  .footer-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.48rem 0 0.08rem;

    &>a {
      font-weight: 600;
      color: $color-background-primary;
      font-size: 0.12rem;
      line-height: calc(16 / 12);
    }

    &>span {
      width: 0.11rem;
      text-align: center;
    }
  }

  .footer-copyright {
    font-weight: 400;
    font-size: 0.12rem;
    line-height: calc(16 / 12);
    color: #44444d;
    display: block;
    width: 100%;
    text-align: center;
  }

  .login-title {
    font-weight: 700;
    font-size: 0.24rem;
    line-height: calc(32 / 24);
    text-align: center;
    margin-bottom: 0.24rem;
    padding-bottom: 0.24rem;
    position: relative;

    &::before {
      position: absolute;
      content: "";
      width: 100%;
      height: 0.01rem;
      background-color: #cecccb;
      bottom: 0;
      left: 0;
    }
  }

  .login-logo {
    width: 0.88rem;
    margin: 0 auto 0.24rem;
  }

  @include desktop {
    padding: 0.72rem 0;
    background-color: #0072F0;

    .login-wrapper {
      max-width: 430px;
    }
  }
}
